<div class="container">
    <h2 >Games</h2>
    <div class="row">
        <div class="col-md-4" ng-repeat="game in gamesSection.games">
            <a href="{{game.gameUrl}}"><img ng-src="{{game.imgUrl}}" class="img-responsive center-block" style="width:400px; height:180px" /></a>
            <h5 class="text-center"><a href="{{game.gameUrl}}">{{game.name}}</a></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-repeat="app in gamesSection.apps">
            <a href="{{app.appUrl}}"><img ng-src="{{app.imgUrl}}" class="img-responsive center-block" style="width:300px; height:180px" /></a>
            <h5 class="text-center"><a href="{{app.appUrl}}">{{app.name}}</a></h5>
        </div>
    </div>
</div>
