<div class=" container">

  <div class="navbar navbar-default">

    <div class="navbar-header">
      <div class="navbar-brand">TONY RAMÍREZ</div>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li ng-class="{active:!topSection.isInContactsPage}"><a href="#" ng-click="topSection.goToGames()">Games</a></li>
        <li ng-class="{active:topSection.isInContactsPage}"><a href="#" ng-click="topSection.goToContacts()">Contact</a></li>
      </ul>
    </div>

  </div>

  <p>
    I'm a programmer from Venezuela.
    I enjoy programming, solving challenging problems and creating cool interactive experiences.
  </p>

</div>
